@model WebApplication1.Models.User

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "Home", new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "formDelete" })) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="button" value="Delete" class="btn btn-danger" id="btnDelete" data-id="@Model.UserID"> Delete</button>
        </div>
    }
</div>

<script>
    $('#btnDelete').click(ev => {
        let id = $('#btnDelete').data('id');

        $.ajax({
            url: "/Home/Delete/" + id,
            type: 'POST',
            success: xhr => {
                reloadList()
            },
            error: error => {
                alert(error)
            }
        })
    })
</script>